@media all and (max-width: 1300px) {
    .service__wrapper h3 {
        font-size: 20px;
        color: #000000;
    }

    .service__price__wrapper h4 {
        font-size: 15px;
    }

    .service__desc__wrapper h4 {
        font-size: 15px;
    }


    .service__name__wrapper h3 {
        font-size: 20px;
    }
}

@media all and (max-width: 530px) {
    .service__wrapper h3 {
        font-size: 15px;
    }

    .service__price__wrapper h4 {
        font-size: 10px;
    }

    .service__desc__wrapper h4 {
        font-size: 10px;
    }


    .service__name__wrapper h3 {
        font-size: 15px;
    }
}



.content__wrapper {
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    background-color: #F2FAFF;

    display: flex;
    justify-content: center;

}

.services__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 1% 0 1% 1%;
}

.service__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 800px;

    padding: 1% 0 1% 1%;
    margin: 5% 5% 0 5%;
}

.service__wrapper h3 {
    font-size: 20px;
    color: #000000;
}



.types__service__wrapper {
    padding: 1% 0 1% 1%;
}

.service__name__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #0098D9;
    border-radius: 10px;
    padding: 1% 0 1% 1%;

    margin: 0 5% 0 2%;
}

.service__name__wrapper h3 {
    font-size: 20px;

    color: #FFFFFF;
    padding: 1% 0 1% 1%;
}

.service__desc__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 5%;
    background: #FFFFFF;

    margin: 0 5% 0 2%;
}

.service__desc__wrapper h4 {
    font-size: 15px;
    color: #000000;
}




.service__price__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;


    padding: 1% 1% 1% 1%;
}

.service__price__wrapper h4 {
    font-size: 15px;
    margin: 1% 1% 1% 1%;
}


.service__price__wrapper button {
    border: none;
    outline: none;

    font-weight: bold;
    font-size: 15px;

    color: #FFFFFF;
    padding: 5% 3% 5% 3%;
    background: #0094E4;
    border-radius: 5px;
    cursor: pointer;
    margin: 1% 1% 1% 1%;
}

.servicePageButton {
    transition: .7s;
}

.servicePageButton:hover {
    transition: .7s;
    background-color: #6bcb54;
}

.pButton {
    height: 40px;
    min-width: 40px;
    border: 1px solid #00A2FA;
    background-color: #FFFFFF;
    transition: .5s;
}

.pButton:hover {
    transition: .5s;
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #00A2FA;
    background-color: #FFFFFF;
}

.firstBtn {
    border-radius: 5px 0 0 5px;
}

.lastBtn {
    border-radius: 0 5px 5px 0;
}

.deleteButton {
    transition: .7s;
}

.deleteButton:hover {
    transition: .7s;
    background-color: #FF6B7F;
}

.close {
    transition: .7s;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FF6B7F;
    text-decoration: none;
    cursor: pointer;
}