.wrapper {
    min-height: 135px;
    background: #0067BA;
    border-radius: 40px 40px 0px 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 0% 0% 3%;
    flex-wrap: wrap;

}

.logo__wrapper {
    width: 60px;
    height: 60px;

    background: #FFBE4C;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__wrapper img {
    width: 50px;
    height: 50px;
    opacity: .5;
}

.pages__wrapper {
    margin-left: 8%;
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
}

.wrapper a {
    font-weight: bold;
    font-size: 25px;

    color: #FFFFFF;
    text-decoration: none;

    margin: 0% 2% 0% 2%;
    padding-bottom: 0.25%;
}

.link__active {
    border-bottom: 2px solid white;
}